<div class="container indigo lighten-5 z-depth-2">
    <div class="competence">

        <h2 class="light-green-text text-darken-2 center">Compétences acquises</h2>

        <div class="row">
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/symfony_logo.png') }}" alt="logo SF" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">Version 3+</p></span>
                    <div class="card-content">
                        <ul id="etoiles-sf">
                            <li style="opacity: 0" class="etoile-un"><i class="medium material-icons yellow-text ">stars</i></li>
                            <li style="opacity: 0" class="etoile-deux"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-trois"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-quatre"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-cinq"><i class="medium material-icons grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/PHP-logo.svg.png') }}" alt="logo php" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">Version 5.6+</p></span>
                    <div class="card-content">
                        <ul id="etoiles-php">
                            <li style="opacity: 0" class="etoile-un"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-deux"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-trois"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-quatre"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-cinq"><i class="medium material-icons grey-text">stars</i></li>
                        </ul>
                    </div>
            </div>

        </div>
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/1200px-MySQL.svg.png') }}" alt="logo sql" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">Version 5.7+</p></span>
                    <div class="card-content">
                        <ul id="etoiles-sql">
                            <li style="opacity: 0" class="etoile-un"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-deux"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-trois"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-quatre"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-cinq"><i class="medium material-icons grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/php-unit.jpg') }}" alt="logo sql" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">PHPUnit</p></span>
                    <div class="card-content">
                        <ul id="etoiles-unit">
                            <li style="opacity: 0" class="etoile-un"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-deux"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-trois"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-quatre"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-cinq"><i class="medium material-icons grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>

            </div>
    </div>
        <div class="row">
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/html5-css3.png') }}" alt="logo html" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">HTML5 et CSS3</p></span>
                    <div class="card-content">
                        <ul id="etoiles-html">
                            <li style="opacity: 0" class="etoile-html-un"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-deux"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-trois"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-quatre"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-cinq"><i class="medium material-icons grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/bootstrap_logo.png') }}" alt="logo php" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">BootStrap</p></span>
                    <div class="card-content">
                        <ul id="etoiles-boot">
                            <li style="opacity: 0" class="etoile-html-un"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-deux"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-trois"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-quatre"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-cinq"><i class="medium material-icons grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/materialize.png') }}" alt="logo sql" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">Materialize</p></span>
                    <div class="card-content">
                        <ul id="etoiles-mat">
                            <li style="opacity: 0" class="etoile-html-un"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-deux"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-trois"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-quatre"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-cinq"><i class="medium material-icons grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/Logo-Wordpress-todobravo-1.png') }}" alt="logo sql" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">WordPress</p></span>
                    <div class="card-content">
                        <ul id="etoiles-wp">
                            <li style="opacity: 0" class="etoile-html-un"><i class="medium material-icons
                            yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-deux"><i class="medium material-icons
                            yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-trois"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-quatre"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-html-cinq"><i class="medium material-icons
                            grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/Unofficial_JavaScript_logo_2.svg.png') }}" alt="logo html" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">JavaScript</p></span>
                    <div class="card-content">
                        <ul id="etoiles-js">
                            <li style="opacity: 0" class="etoile-js-un"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-deux"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-trois"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-quatre"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-cinq"><i class="medium material-icons grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/jquery-logo.png') }}" alt="logo php" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">Jquery et Jquery ui</p></span>
                    <div class="card-content">
                        <ul id="etoiles-jq">
                            <li style="opacity: 0" class="etoile-js-un"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-deux"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-trois"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-quatre"><i class="medium material-icons grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-cinq"><i class="medium material-icons grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/target-2303326_1280.jpg') }}" alt="logo html" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">Gestion de projet</p></span>
                    <div class="card-content">
                        <ul id="etoiles-gp">
                            <li style="opacity: 0" class="etoile-js-un"><i class="medium material-icons
                            yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-deux"><i class="medium material-icons
                            yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-trois"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-quatre"><i class="medium material-icons
                            grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-cinq"><i class="medium material-icons
                            grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/github.7433692cabbfa132f34adb034e7909fa.png') }}" alt="logo php" class="logo">
                    </div>
                    <hr>
                    <span class="card-title light-green-text text-darken-2"><p class="center">GitHub</p></span>
                    <div class="card-content">
                        <ul id="etoiles-git">
                            <li style="opacity: 0" class="etoile-js-un"><i class="medium material-icons
                            yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-deux"><i class="medium material-icons
                            yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-trois"><i class="medium material-icons yellow-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-quatre"><i class="medium material-icons
                            grey-text">stars</i></li>
                            <li style="opacity: 0" class="etoile-js-cinq"><i class="medium material-icons
                            grey-text">stars</i></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
